.nav{
  display: flex;
}
.link{
  margin:20px;
  
  
}
body{
  background-color: black;
}

.active{
  color:white;
  text-decoration: none;
  font-size: 20px;
}
.allimages{
  display: flex;
  overflow-x: scroll;
}
.allimages::-webkit-scrollbar{
display: none;
}
img{
margin:10px;

}

/* end point */
/* netflix originals */
/* https://api.themoviedb.org/3/discover/tv/?api_key=5d4dae0634daee0004fa94f7c36f6551&with_network=123 */

